@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Krona+One&family=Montserrat:wght@400;600&family=Nova+Square&family=Poppins:wght@200;400;500;600&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Titulo {
  font-family: poppins;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem; /* Ajuste o tamanho conforme necessário */
  text-align: left;
  margin-left: 25px;
  margin-bottom: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.terminated-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.body {
  margin: 0;
  background-color: #f0f2f5;
}

.icon {
  width: 24px;
  height: 24px;
}

.btn:hover {
  background-color: #0056b3;
}

:root {
  --default-color: #7b8ef4;
}
::selection {
  background-color: var(--default-color);
  color: rgb(255, 255, 255);
}

.container {
  max-width: 850px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 30px;
}
.container .login-form .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.container .login-form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background-color: var(--default-color);
}
.container .login-form .input-box {
  color: #030391;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.container .login-form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.container .login-form .input-box input:focus,
.container .login-form .input-box input:valid {
  border-color: var(--default-color);
}
.container .login-form .input-box input[type="submit"] {
  background-color: var(--default-color);
  border: 0;
  color: #1a1579;
  border-radius: 5px;
  cursor: pointer;
}
.container .login-form .input-box i {
  position: absolute;
  color: var(--default-color);
  font-size: 17px;
}
.container .login-form .forgot a {
  color: var(--default-color);
  text-decoration: none;
}
.container .login-form .divider {
  text-align: center;
  margin: 10px;
  font-size: 18px;
}
.container .login-form .midias-sociais {
  text-align: center;
}
.container .login-form .midias-sociais i {
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}
.container .login-form .midias-sociais i:hover {
  color: var(--default-color);
}
.container .login-form .sigup-text a {
  color: var(--default-color);
  text-decoration: none;
}
.container .login-img {
  width: 50%;
}

.img-logo {
  border-radius: 10px;
}

@media (max-width: 800px) {
  .login-img {
    display: none;
  }
}

.img-icon {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(200deg)
    brightness(100%) contrast(100%);
}

.custom-background {
  background-color: #7b8ef4;
}

.custom-rectangle {
  background-color: #ffffff00;
}

.image-background {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./Imagens/Fundo.png");
  background-size: cover;
  background-position: center;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  display: flex;
  margin: 10px;
  background-color: rgba(116, 116, 116, 0);
  justify-content: center;
  align-items: center;
}

.content-overlay > button {
  margin: 20px;
  box-shadow: 0 6px 6px 0 #0057b377;
}

.content-overlay > button:hover {
  transform: scale(1.1);
  transition: transform 0.15s ease-in-out;
}

.form-container {
  max-height: 24rem; /* ou qualquer valor desejado */
  overflow-y: auto;
  padding: 1rem;
}

.input,
.textarea {
  width: 100%;
}

.label-text {
  font-weight: bold;
}

.btn {
  margin-top: 1rem;
}

/* .flex {
  display: flex;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.h-2/3 {
  height: 66.666667%;
}

.w-2/3 {
  width: 66.666667%;
}

.p-10 {
  padding: 2.5rem;
}

.bg-white {
  background-color: white;
}

.rounded-xl {
  border-radius: 1rem;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.btn-circle {
  border-radius: 50%;
}

.btn-ghost {
  background: none;
  border: none;
  box-shadow: none;
} */

.toggle-primary {
  background-color: #3490dc;
}

/* CSS para a caixa de notificação */
.notification-box {
  position: absolute;
  top: 10px; /* ajuste conforme necessário */
  right: 10px; /* ajuste conforme necessário */
  z-index: 1000; /* garantir que esteja acima de outros elementos */
}

/* CSS adicional para ajustar a aparência */
.indicator {
  display: flex;
  align-items: center;
}

.badge {
  background-color: #d51c1c; /* exemplo de cor */
  color: white;
  padding: 5px 9px;
  border-radius: 12px;
  margin-right: 5px;
}

.btn {
  background-color: #6ea1d767;
  color: rgb(29, 2, 2);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  color: black;
}
